* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(180deg, rgba(170, 99, 61, 0.8), rgba(94, 50, 23, 0.8), rgba(79, 31, 2, 0.8));
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    color: #0e0b08;
}



main {
    display: flex;                      
    align-items: flex-start;          
    justify-content: center;           
    width: 100%;
    height: calc(100vh - 60px);      
    padding-top: 70px;                
    gap: 20px;                       
}

.container {
    background-color: rgba(113, 63, 32, 0.25);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;                     
    text-align: center;
}

.container h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #3E362E;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form input, .form select {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    background-color: rgba(164, 124, 96, 0.75);
    color: white;
}

.form input[type="file"] {
    background-color: rgba(164, 124, 96, 0.5);
}

.form ::placeholder {
    color: white;
}

.signin-button {
    padding: 10px;
    background-color: #3E362E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.signin-button:hover {
    background-color: #59493f;
}

.location-button {
    padding: 10px;
    background-color: #3E362E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px; 
    transition: background-color 0.3s; 
}

.location-button:hover {
    background-color: #59493f;
}
